@import url(https://fonts.googleapis.com/css?family=Gochi+Hand|Open+Sans&display=swap);

$font-headings: 'Gochi Hand', cursive;
$font-text: 'Open Sans', sans-serif;
$font-h1: 1vw;
$font-h2: 2.2vw;
$font-h3: 2.1rem;
$text: 1.3rem;